---
import { formatDate } from "@src/utils/methods/utils";
import Main from "@src/layouts/main.astro";
import type { WP_Post } from "@src/utils/types/types";
import Image from "astro/components/Image.astro";

const { id } = Astro.params;

const url = import.meta.env.WP_URL;

/**
 * Url to fetch a single post by ID from the WordPress.com API.
 * Keep in mind that wordpress.org has different api key and post are fetched by slug.
 *
 * To fetch a post from your own wordpress.com site, you need to replace the
 * "astroheadlessjw5.wordpress.com" with your own site name.
 */

let res = await fetch(url + id);
let post: WP_Post = await res.json();

export async function getStaticPaths() {
  const url = import.meta.env.WP_URL;
  let data = await fetch(url);
  let posts = await data.json();

  return posts.posts.map((post: WP_Post) => ({
    params: { slug: post.slug, id: post.ID.toString() },
    props: { post: post },
  }));
}
---

<Main content={{ title: post.title }}>
  <article>
    <h1 class="text-amber-700 blog-title" set:html={post.title} />
    <Image
      src={post.featured_image}
      alt={post.title}
      class="w-full max-w-[500px] h-auto mx-auto mb-10"
      width={500}
      height={300}
      loading="lazy"
    />
    <div class="flex items-center gap-x-6 mx-auto mb-4 max-w-[600px]">
      <img
        class="object-cover w-8 h-8 rounded-full"
        src={post.author.avatar_URL}
        alt={post.author.name}
      />
      <p>{post.author.name} {formatDate(post.date)}</p>
    </div>
    <Fragment set:html={post.content} />
  </article>
</Main>
